.vc-black {
  --vc-accent-50: #f8fafc;
  --vc-accent-100: #f1f5f9;
  --vc-accent-200: #ececec;
  --vc-accent-300: #cbd5e1;
  --vc-accent-400: #94a3b8;
  --vc-accent-500: #000000;
  --vc-accent-600: #000000;
  --vc-accent-700: #000000;
  --vc-accent-800: #000000;
  --vc-accent-900: #000000;
}
